.DS_Store

#Deluge
/deluge/config
!/deluge/config/core.conf

#Plex
/plex

#Radarr
radarr/config
!radarr/config/nzbdrobe.db

#Sonarr
sonarr/config
!sonarr/config/nzbdrobe.db

#Jackett
jackett/config

#Plexpy
plexpy/config
!plexpy/config/config.ini

#Ombi
requests/config
!requests/config/Ombi.sqlite

#Organizr
organizr/config
!organizr/config/default.template
